*{
    padding: 0px;
    margin: 0px;
}

.nav-header{
    background-color: rgb(37, 37, 37);
    /* position: sticky; */
}

.logo{
    padding-top: 20px;
    padding-left: 30px;
    padding-bottom: 10px;
}
ul{ 
    list-style-type: none;
    float: right;
    padding-top: 25px;
    padding-right: 40px;
  
}
    
li{ 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-top: 30px;
    display: inline;
    font-size: 12px;
    padding-left: 20px;
    color: #eeae65;     
}


/*Header closed*/



/*slider section*/

.slider{
    background-image: url("travel-slider-01.jpg");
    height: 140vh;
}

.image1{
    position: relative;
    padding-top: 8px;
}

.slider-text{
    border: 5px solid #ffd4a2; 
    position: absolute;
    right: 60%;
    top: 50%;
    font-size: 50px; 
    text-align: left;
    padding: 40px;
    color: white;
    

     
}
.button1{
    position: absolute;
    left: 10vh;
    top: 95vh;
    background-color: #ffffff;
    padding: 10px 20px;
    text-align: center;
}
/*closed*/

/*About section*/

.section2{
    background-color:  rgb(37, 37, 37) ;
    width: 100%;
    height:95vh;
}

.row{
    width: 100%;
    display: flex;    
}
.col1{   
    width: 50%;
    padding-top:100px;
}

.col2{ 
    width: 50%; 
    padding-top: 100px;    
}

.about{
    
    letter-spacing: 0.02em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 17px ;
    line-height: 28px;
    color: rgb(134, 134, 134);
    padding-left:100px;
}

h1{
    
    color:#eeb575;
    padding-left: 100px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 0.02em;
    font-size: 40px;
    font-weight: lighter; 

}

.p1{
    padding-left: 100px;
    line-height: 28px;
    font-size: 15px ;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(102, 102, 102);
    
}

.image2{ 
    padding-left: 60px;    
}

.button2{
    background-color:  rgb(37, 37, 37);
    position: absolute;
    left: 100px;
    border-color: #ffba6a;
    color:#ffba6a;
    height: 5vh;
    width: 15%;
    border-radius: 50px;
    text-align: center;
    border-width: 2px;
}

/*closed*/

/* Interior design section*/
.IDS{
    background-color: rgb(41, 41, 41);
}

.row1{
    
    width: 100%;
    display: flex;
}
.col3{
    width:100%;
    padding-top: 100px; 
   
}

.row2{
    width: 100%;
}
.row3{
    width: 100%;
    display: flex;
    padding-top: 30px; 
}
.row4{
    width: 100%;
    display: flex;
    padding-top: 30px; 
}

.col4{
    width: 100%;
}
.col5{
    width:100%
}
.col6{
    width: 100%;

}
.col7{
    width:100%;
}
.col8{
    width:100%;

}


h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-left: 100px;
    color: #d89a53;
    font-size: 45px;
    font-weight: lighter; 
    
}
.ide{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-left: 100px;
    color: #808080;
    font-size: 21px;
    padding-top: 20px;
    line-height: 26px;   
}
h3{
    color: #ffffffbb;
    padding-top: 28px;
    padding-left:70px ;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
}

.ie{
    line-height: 22px;
    color: #646464;
    padding-left: 90px;
    padding-top: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.cc{
    line-height: 22px;
    color: #646464;
    padding-left: 90px;
    padding-top: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.dd{
    line-height: 22px;
    color: #646464;
    padding-left: 90px;
    padding-top: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.dwl{
    line-height: 22px;
    color: #646464;
    padding-left: 90px;
    padding-top: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.bx-paint-roll{
    color: #ffba6a;
    font-size:  40px;
  
}
.bx-bulb{
    color: #ffba6a;
    font-size: 40px;

}
.bxs-pen{
    color: #ffba6a;
    font-size: 40px;

}
.bx-sun{
    color: #ffba6a;
    font-size:  40px;

}

/* IDS closed */



/*Services section*/

.SS{
    background-color: rgb(37, 37, 37);
    width: 100%;
    height: 140vh;

}
h4{

    text-align: center;
    padding-top: 8%;
    font-size: 40px;
    color: #d89a53;
    font-weight: lighter;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.ser{
  
    text-align: center;
    padding-top: 24px;
    font-size: 19px;
    color: #474747;
    font-weight: lighter;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.row6{
    
    width: 100%;
    display: flex;
}

.col9{
   
    width:25%;
}

.col10{
   
    width:25%;
}

.col11{
    
    width:25%;
}

.col12{
    
    width:25%;
}

.img{
    position: relative;
    left:50px;
    padding-top: 60px;
    height: 40vh;
   
}

h6{
    color: #ffffff;
    text-align: center;
    padding-top: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
}

.Li{
    color: #464646;
    padding-top: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

.content1 , .content2 , .content3, .content4 {
    background-color: black;
    height: 16vh;
    width: 240px;    
    position: relative; 
    left: 15%;

  
}

/* closed */


.getquotation{
    height: 20vh;
    background-color: #000000;
}
.gq{
    color: #ffffff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 26px;
    font-weight: lighter;
    padding-left: 30%;

}

.button3{
    position: relative;
    color:whitesmoke;
    background-color: #e4b075;
    width: 15%;
    height: 8vh;
    border-radius: 25px;
    left: 68%;
    top:30%;

}

.projects{
    padding-bottom: 10%;
    background-color: #1b1b1b;
}

.row7{
    width: 100%;
    padding-top: 30px;

}
.row8{
    width:100%;
    padding-top: 10px;
}

.agwork{
    padding-left: 25px;

}


.row9{
    width: 100%;
    display: flex;
    padding-top: 10%;  
}

.col13{
    width: 25%;
    text-align: center;
}
.col14{
    width: 25%;
    text-align: center;
}
.col15{
    width: 25%;
    text-align: center;
}
.col16{
    width: 25%;
    text-align: center;
}
 

.num{
    color: #eeb575;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
}

.sub{
    color: #7e7e7e;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
}

.bx-minus{
    color: #eeb575;
    font-size: 30px;
}  





/* blog section */



.blog{ 
    
    background-image: url("fitness-about-bg.jpg");
    position: relative;
    width: 100%;
    height: 90vh;
    background-position: 45% ; 
  
}
.blogcontent{
    width: 40%;
    background-color: #1f1f1f;
    height: 90vh;
    position: absolute;
    left: 10%;
}


.blogshead{

    position: absolute;
    padding-top: 30%;
    padding-left: 10%;
    font-size: 52px ;
    line-height: 50px;
    color: #e09743dc;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;

}

.blogsubh{
    position: absolute;
    padding-left: 10%;
    padding-top: 50%;
    text-align: left;
    color: #616161;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 26px;
    font-weight: lighter;
}

.blogpara{
    position: absolute;
    padding-left: 10%;
    text-align: left;
    bottom: 18%;
    color: #616161;
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 1.5em;
    word-spacing: 0.3em;
}
.button4{
    width: 27%;
    position: absolute;
    left: 10%;
    bottom: 8%;
    color: white;
    font-weight: bold;
    padding: 12px;
    background-color: #b1916d;
    border-radius: 5px;
    font-size: 13px;


}



/* blog section closed */


/* client section */

.clientsection{
    width: 100%;
    height: 90vh;
    background-color: rgb(44, 44, 44);
}


.csrow{
    width: 100%;
    padding-left: 70px;
    padding-top: 40px;
}



/* client section  closed */
 
/* cd section */

.cd{
    background-image: url("hero-bg4.jpg");
    background-size: cover;
    position: relative;   
    height: 90vh;
    width: 100%;
    background-position: 80% 20%;.  
}

.button5{
    position: absolute;
    font-weight: bolder;
    font-size: 11px;
    background-color: #333333;
    color: white;
    padding: 12px;
    letter-spacing:0.2em;
    border-radius: 100px;
    left: 8%;
    bottom: 28%;
}

.cd1{
    position: absolute;
    color: #000000;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:50px;
    top: 25%;
    left: 8%;
}
.cd2{
    position: absolute;
    color: #000000;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:26px;
    top: 50%;
    left: 8%;
    font-weight: lighter;

}

/* closed */


/* latest Blog section */

.latestblog{
    background-color: rgb(37, 37, 37);
    height: 120vh;
    width: 100%;
    
}

.blogrow{
    width:100%;
    display: flex;
    padding-top: 2%;
}

.blogcol1{
    width: 30%;
}

.blogcol2{
    width: 30%;
}

.blogcol3{
    width: 30%;
}

.spa{
    position: relative;
    left: 20%;
    padding-bottom: 5%;
}

.brh1 , .brh2 , .brh3{

    color: #eeb575;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    padding-left: 80px;

}

.brhcont{
    font-size: 14px;
    font-weight: lighter;
    padding-top: 10px;
    padding-left: 80px;
    color: #636363;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 1.3em;
}

.line{
    color: #585858;
    padding-left: 20%;
    padding-top: 15px;

}

.publish{
    color: #6b6a6a;
    padding-left: 20%;
    padding-top: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 14px;
}


/* closed */

/* contact page */

.Contact{
    background-color: rgb(32, 32, 32);
    height: 140vh;
}

.contactrow{
    width: 100%;
    display:flex;
    padding-top: 80px;
}

.con1 , .con2 , .con3{
    width: 33%;
    text-align: center;
}

.bxs-edit-location , .bx-mobile , .bx-envelope{
    color: sandybrown;
    font-size:38px;
    font-weight: lighter;
}

.contactcontent{
    color: #505050;
    padding-top: 20px;
}

.rowmail{
    width: 100%;
    display: flex;
    padding-top: 6%;


}
.sender1 , .sender2{
    width: 50%;
}

.tbox{
    position: relative;
    left: 10%;
    padding-left: 20%;
    width: 60%;
    height: 7vh;

}

.tboxarea{
    width: 90vh;
    height:20vh;
}

.button6{
    position :relative;
    color: whitesmoke;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    background-color: rgb(206, 163, 126);
    top: 18%;
    height: 7vh;
    width: 25%;
    border-radius: 5px;
   
}
::placeholder{
    position: absolute;
    left: 0%;
}

/* contact section closed */

/* footer */

.footer{
    background-color: #111010;
    position: relative;
    width: 100%;
    display: flex;
    height: 25vh;
    top: 14%;
}

.footerlogo{
    width: 35%;
}
.logofooter{
    position: relative;
    padding-top: 13%;
    padding-left: 20%;
  
}
.developer{
    width: 33%;
}
.dev{
    text-align: center;
    padding-top: 17%;
    padding-left: 20%;
    color: #505050;
    
}

.socialmedia{
    text-align: center;
    padding-top: 70px;
    padding-left: 15%;

}

.bxl-facebook , .bxl-twitter , .bxl-google-plus ,.bxl-pinterest , .bxl-linkedin , .bxl-youtube

{
    position: relative;
    color: rgb(168, 134, 103);
    font-size: 18px;

}